nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    border-bottom: 1px solid #777;
}

.brand, .links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand img {
    width: 40px;
    margin-right: 0.6em;
}

.brand h2 {
    transition: .2s;
}

.brand:hover > h2 {
    color: #DEC129;
}

.links li {
    margin-right: 1em;
    list-style: none;
}

.links a {
    position: relative;
    padding: .1em;
}

#add a {
    color: #DEC129;
    font-weight: bold;
}

a::before {
    position: absolute;
    bottom: -5px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #DEC129;
    transition: all .2s ease-in-out;
}

a:hover::before, a.active::before {
    width: 100%;
}

@media (max-width: 500px) {
    .links {
        display: none;
    }
}