.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    width: 331px;
    margin: 0 auto;
}

h2, p {
    margin-bottom: 1em;
}

.about a {
    text-decoration: underline;
}