/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    font-family: Cambria, sans-serif;
    box-sizing: border-box;
    color: #444;
}

a {
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover {
    color: #DEC129;
}

.container {
    min-height: 75vh;
    margin-top: 1em;
}

/* FORM */

form {
    max-width: 450px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group label {
    font-weight: bold;
    font-size: .9em;
    margin-bottom: .4em;
}

.form-group input,
.form-group textarea {
    padding: .6em;
    color: #777;
    font-size: 0.8em;
}

input[type="submit"] {
    background-color: #efefef;
    border: 2px solid transparent;
    padding: 0.6em 1em;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

input[type="submit"]:hover {
    color: #DEC129;
    border-color: #DEC129;
    background-color: transparent;
}

textarea {
    height: 150px;
    resize: none;
}

.validation-error p {
    color: #DC3545;
    margin-top: .4em;
    border-left: 3px solid #dc3545;
    padding-left: .3em;
}

/* BUTTONS */
.edit-btn, 
.remove-btn {
    padding: .4em 1em;
    border-radius: 4px;
    font-size: 1em;
    margin-top: 1em;
    margin: 0.5em;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.edit-btn,
.edit-btn path {
    color: #007bff;
    transition: all .2s ease-in-out;
}

.edit-btn:hover path,
.edit-btn:hover {
    background-color: #007bff;
    color: #fff;
}

.remove-btn,
.remove-btn path {
    border: none;
    color: red;
    transition: all .2s ease-in-out;
}

.remove-btn:hover,
.remove-btn:hover path{
    color: #fff;
    background-color: red;
}

